@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lobster|Lobster+Two:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
*{
  margin: 0;
  padding: 0;
  font-size: 16px;

}
/*Importieren der Schriftarten*/
/*Klassendeklaration*/
.status_led{
  border-radius: 50%;
  background-color: green;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  margin: 1em;
  right: 0;
}
p{
  font-family: "Fira Sans", serif;
}
.name{
  font-family: "Dancing Script", serif;
  text-decoration: none;
  color: white;
  text-align: left;
  font-size: 3em;
}
header{
  background-color: turquoise;
  padding: 1em;
  margin-bottom: 10px;
}
a{
  text-decoration: none;
  color: white;
}

.row {
  width: 100%;
  display: flex;
  clear: both;
}

.col.col-12 {
  width: 100%;
  margin-left: 10px;

}
.table .row .col-6 p{
  background-color: rgb(64, 224, 208);
}
.col.col-6 {
  width: 50%;
  margin-left: 10px;
}

.col.col-3 {
  width: 25%;
}

.col * {
  max-width: 100%;
}

.table{
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin-right: 10px;
}

.status-ready.status-ready.status-ready.status-ready{
  background-color: rgba(0,255,0,1);
}

.bereit{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(0,255,0,1);
}

.kochen{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(255, 147, 0);
}

.fertig{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(0, 0, 255);
}

.noconnect{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(255, 0, 0);
}